*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
img{width: 100%;}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  background-color: #cfdef348;
}

:root{
  --btn-color:#243B55;
  --title-color:#020817;
  --fade-text-color:#64748b;
  --background: #ffffff;
  --foreground: #111827;
  --card: #ffffff;
  --card-foreground: #111827;
  --popover: #ffffff;
  --popover-foreground: #111827;
  --primary: #7c3aed;
  --primary-hover: #864ceb;
  --primary-foreground: #f9fafb;
  --secondary: #d946ef;
  --secondary-foreground: #111827;
  --muted: #f9fafb;
  --muted-foreground: #6b7280;
  --accent: #f9fafb;
  --accent-foreground: #111827;
  --destructive: #ef4444;
  --destructive-foreground: #f9fafb;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #7c3aed;
  --radius: 0.5rem;

  
}

.page_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
